.categories-list {
  list-style-type: none;
  padding-left: 0px;
  box-shadow: 5px 5px 10px #d9dedb;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  overflow: auto;
}

.dishes-list {
  list-style-type: none;
  padding-left: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.my-orders {
  font-family: 'Roboto';
  font-size: 30px;
  display: none;
}

@media screen and (min-width: 1000px) {
  .categories-list {
    width: 100%;
  }
  .my-orders {
    display: block;
  }
}

.products-loader-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.products-failure-view-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 48px;
  padding-bottom: 64px;
}

.product-failure-heading-text {
  color: #171f46;
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 500;
  line-height: 1.3;
}

@media screen and (min-width: 768px) {
  .product-failure-heading-text {
    font-size: 24px;
  }
}

.products-failure-description {
  text-align: center;
  color: #64748b;
  font-family: 'Roboto';
  font-size: 14px;
  width: 90%;
  max-width: 288px;
  line-height: 1.3;
}

@media screen and (min-width: 768px) {
  .products-failure-description {
    font-size: 18px;
    width: 60%;
    max-width: 466px;
  }
}
